@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --logo-font: "Chau Philomene One", sans-serif;
  --primary-color: #4b55be;
  --header-font: "Inter", sans-serif;
  --light-primary-color: #b4b9e6;
  --secondary-color:rgba(221, 114, 145, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(75, 85, 190);
  background: linear-gradient(
      135deg,
      rgba(221, 114, 145, 1) 1%,
      rgba(75, 85, 190, 1) 60%
        /* rgba(239, 211, 164, 1) 66%,
      rgba(146, 204, 194, 1) 70%  */
    )
    no-repeat;
}
