@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --logo-font: "Chau Philomene One", sans-serif;
  --primary-color: #4b55be;
  --header-font: "Inter", sans-serif;
  --light-primary-color: #b4b9e6;
  --secondary-color: rgba(221, 114, 145, 1);
  --third-color: #efd3a4;
}
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: rgb(75, 85, 190);
}
